{
  "app": {
    "guid": "e3be85cc-aac2-4ce3-9d9c-78c2e1404039"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZTNiZTg1Y2MtYWFjMi00Y2UzLTlkOWMtNzhjMmUxNDA0MDM5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Normal",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "database": "jdbc/main|dbaconsulta|oracle1521|Oracle|jdbc:oracle:thin:@localhost:1521:prod|oracle.jdbc.OracleDriver|prod|localhost|1521",
      "selectdatabase": "Utilizar outro banco de dados existente",
      "appid": "com.poloit.apps.reportsdbacenter",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "social": "false",
      "theme": "Cosmo",
      "authentication": "Normal",
      "mutual": "false"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}